@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');


body{
    background-color: black;
    color: white;
    padding: 0%;
    margin: 0%;
}

.myCanvas{
    height: 20vh;
    width: 100vw;
    position: fixed;
    bottom: 0vh;
}

.home-heading{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 100px;
    padding-left: 15vw;
    padding-top: 15vh;
}

.home-info{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 40px;
    padding-left: 15vw;
    padding-top: 5vh;
}
